@media (max-width: 426px) {
    .game-area {
        grid-template-columns: 110px 110px 110px;
        grid-template-rows: 110px 110px 110px;
    }

    .game-area .square {
        font-size: 30px;
    }

    .scoreboard {
        width: 250px;
        height: 90px;
    }

    .scoreboard .market {
        font-size: 20px;
    }

    .message h1 {
        font-size: 30px;
    }

    .buttons-area {
        width: 370px;
        column-gap: 20px;
    }

    .buttons-area #reset-button,
    #music-on-off,
    #clear-button,
    #on-off-button {
        font-size: 12px;
    }
}

@media (max-width: 376px) {
    .game-area .square {
        font-size: 30px;
    }

    .separator {
        height: 60px;
    }

    .buttons-area {
        width: 350px;
        column-gap: 20px;
    }
}

@media (max-width: 321px) {
    .scoreboard {
        width: 220px;
        height: 80px;
    }

    .scoreboard .market {
        font-size: 18px;
    }

    .scoreboard .market p {
        font-size: 18px;
    }

    .separator {
        height: 50px;
    }

    .game-area {
        grid-template-columns: 90px 90px 90px;
        grid-template-rows: 90px 90px 90px;
    }

    .game-area .square {
        font-size: 20px;
    }

    .buttons-area {
        width: 300px;
    }

    .buttons-area #reset-button,
    #music-on-off,
    #clear-button,
    #on-off-button {
        font-size: 10px;
    }
}
