*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.game-area {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.game-area div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DCDCDC;
    border: 1px solid #8FBC8F;
    cursor: pointer;
}

.buttons-area {
    display: flex;
    padding-top: 20px;
    column-gap: 20px;
    
}

.buttons-area #reset, #button-on-off {
    cursor: pointer;
    width: 100px;
    height: 35px;
}