@font-face {
    font-family: 'digital';
    src: url(./fonts/digital-7.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dcdcdc;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    margin-bottom: 50px;
    min-width: 300px;
    border: 2px solid #8fbc8f;
    text-align: center;
    padding:  10px 20px 10px 20px;
}


.scoreboard .X, .O {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 34px;
}


.scoreboard p {
    padding-top: 20px;
    font-size: 28px;
    font-family: 'digital';
    
}

.separator {
    background-color: #8fbc8f;;
    width: 1px;
    height: 80px;
    padding-top: 20px;
}

.game-area {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;  
}

.game-area div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #8fbc8f;
    cursor: pointer;
}

.game-area div.A {
    border-top: none;
    border-left: none;
}

.game-area div.B {
    border-top: none;
}

.game-area div.C {
    border-top: none;
    border-right: none;
}

.game-area div.D {
    border-left: none;
}

.game-area div.F {
    border-right: none;
}

.game-area div.G {
   border-left: none;
   border-bottom: none; 
}

.game-area div.H {
    border-bottom: none;
}

.game-area div.I {
    border-bottom: none;
    border-right: none;
}

.buttons-area {
    display: flex;
    padding-top: 20px;
    column-gap: 40px;
    margin-top: 50px;
}

.buttons-area #reset-button,
#button-on-off, #music-on-off {
    cursor: pointer;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background-color: #3CB371;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.buttons-area #button-on-off:active, #reset-button:active, #music-on-off:active { 
    box-shadow: none;
    transform: translateX(2px);
    top: 10px;
    left: 15px;
}








